appdirs==1.4.3
bidict==0.19.0
msgpack==1.0
packaging==20.3
py==1.10.0
pyparsing==2.4.7
pytest==5.4.1
sphinx-rtd-theme==0.2.4
tox==3.14.6
virtualenv==20.0.16
peng3d==1.10.1
peng3d-sphinxext==1.0.post1
